####FORCEHTTPS_HEADER####
RewriteEngine on

# RULE:vandiessen.com
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP_HOST} ^(www\.)?vandiessen.com$
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [last,R=301]
####FORCEHTTPS_TAILER####

# react router fix 
RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /index.html [L]

####CUSTOM_HEADER####
Options -MultiViews
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]

# One month cache for css, js, webp
<filesMatch ".(css|js|webp|png|jpg|jpeg)$">
  Header set Cache-Control "max-age=86400, public"
</filesMatch>

# # rewrite images to webp
# <ifModule mod_rewrite.c>
#   RewriteEngine On
#
#   # rewrite if the accept header specifies that the browser supports webp
#   RewriteCond %{HTTP_ACCEPT} image/webp
#
#   # rewrite only jpeg jpg and png files
#   RewriteCond %{REQUEST_URI} (?i)(.*)(\.jpe?g|\.png)$
#
#   # rewrite only if there is a webp image
#   RewriteCond %{DOCUMENT_ROOT}%1.webp -f
#
#   # redirect
#   RewriteRule (?i)(.*)(\.jpe?g|\.png)$ %1\.webp [R=301,L,T=image/webp,R]
# </IfModule>

# The content type of the document varies depending on the browser
<IfModule mod_headers.c>
  Header append Vary Accept env=REDIRECT_accept
</IfModule>

####CHARSET_HEADER####
AddDefaultCharset utf-8
####CHARSET_TAILER####


# set the MIME type of the .webp images to image/webp
AddType image/webp .webp
